@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth color transitions */
* {
  @apply transition-colors duration-300;
}

/* globals.css */
.cl-userProfile-rootBox,
.cl-userProfile-card {
  background: transparent !important;
}

.dark .cl-userProfile-card {
  background-color: #1f2937 !important; /* gray-800 */
  color: #f9fafb !important;
}

